[Desktop Entry]
Name=Tracer
MimeType=
Exec=java -jar /usr/share/tracer/tracer.jar
Type=Application
Terminal=flase
Icon=Tracer
Comment=Tracer
X-KDE-StartupNotify=false
Categories=System;
X-GNOME-UsesNotifications=true
