#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IBS
Exec=env PATH=/usr/lib/jvm/java-8-openjdk/jre/bin/:$PATH /bin/sh /usr/share/ibs/IBS
Icon=ibs
Categories=Application
