#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=IBS
Exec=env PATH=/usr/lib/jvm/java-8-openjdk/jre/bin/:$PATH /bin/sh /opt/IBS/"IBS 1.0.3"
Icon=ibs
Categories=Application
