[Desktop Entry]
Name=trev
Comment=Staden trev program
Exec=trev
Icon=/usr/share/icons/icon4bl.svg
Terminal=false
Type=Application
Categories=Biology;Science
#Help out Unity
#WM_CLASS(STRING) = "trev.tcl", "Trev.tcl"
StartupWMClass=trev.tcl
